*,
::after,
::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {
  max-width: 1100px;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px;
  gap: 30px;
}

article {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 1rem
}

.item-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.item-2 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.item-3 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.item-4 {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.item-5 {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
}