/*
- Mobile: 375px
- Desktop: 1440px
500, 600
*/

:root {
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
}

main {
  max-width: 1160px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
}

article {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 30px 30px 50px var(--Grey-200);
}

.person {
  display: flex;
  align-items: center;
}

.person img {
  width: 30px;
  border-radius: 50%;
  border: 2px solid var(--Grey-200);
}

.person .name {
  margin-left: 16px;
}

.person .name .student-name {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.person .name .student-degree {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.callout {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
  line-height: 1.1;
}

.daniel {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  color: var(--White);
  font-weight: 300;
  letter-spacing: 0.1px;
  background: hsl(258, 50%, 55%) url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 15%;
}

.jonathan {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  color: var(--White);
  font-weight: 300;
  letter-spacing: 0.1px;
  background-color: var(--Grey-500);
}

.jeanette {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  color: var(--Grey-400);
  background-color: var(--White);
}

.jeanette .callout {
  font-weight: 600;
  letter-spacing: 0.1px;
}

.patrick {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  color: var(--White);
  font-weight: 300;
  letter-spacing: 0.1px;
  background-color: var(--Dark-blue);
}

.kira {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  color: var(--Grey-400);
  background-color: var(--White);
}

.kira .callout {
  font-weight: 600;
  letter-spacing: 0.1px;
}

@media (max-width: 1000px) {
  main {
    padding: 75px 0;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container > article {
    grid-column: auto;
    grid-row: auto;
  }

  .grid-container > .daniel {
    grid-column: 1 / -1;
  }

  .grid-container > .patrick {
    grid-column: 1 / -1;
  }

  .grid-container > .kira {
    grid-column: 1 / -1;
  }
}

@media (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}